*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

/chopui/
test.mv.db
test.mv.db.backup
test.trace.db
backup.json
newsref.properties
**/.env
**/env
/www/uploads
/dump
/cache
**/appdata.json
**/appcache.json

**/.kotlin-js-store/

/.kotlin/
.aider*
