/* values converted from tailwind.config.js theme*/
.btn-primary { --btn-bg: 200, 40, 154; }

.btn-secondary { --btn-bg: 111, 66, 193; }

.btn-success { --btn-bg: 60, 242, 129; }

.btn-info { --btn-bg: 27, 162, 246; }

.btn-warning { --btn-bg: 209, 158, 9; }

.btn-danger { --btn-bg: 228, 76, 85; }

.btn {
    @apply text-white font-bold ;
    padding: 6px 12px;
    transition: all 0.2s ease-in-out;
    background-color: rgba(var(--btn-bg), 0.3);
    box-shadow: 0 0 2px rgba(var(--btn-bg), 0.9),
    0 0 4px rgba(var(--btn-bg), 0.4),
    0 0 1rem rgba(var(--btn-bg), 0.3),
    0 0 4rem rgba(var(--btn-bg), 0.1);
}

.btn:enabled:hover {
    background-color: rgba(var(--btn-bg), 1);
    box-shadow: 0 0 6px rgba(var(--btn-bg), 0.9),
    0 0 16px rgba(var(--btn-bg), 0.4),
    0 0 3rem rgba(var(--btn-bg), 0.3),
    0 0 6rem rgba(var(--btn-bg), 0.1);
}

.btn:disabled {
    border: none;
    box-shadow: none;
    opacity: .5;
}