.form-label {
    @apply text-gray-200 mb-2 inline-block;
}

/* form-control */

.form-control {
    background-color: #1c212c;
    padding: 1rem;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: #2a3140;
    display: block;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    background-color: #252c3a;
    border-color: #354360;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(111, 66, 193, .25);
}

.form-control, .btn {
    border-radius: 50rem;
}

/* form-check */
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
}

.form-check-input:checked {
    background-color: var(--bs-color-primary);
    border-color: var(--bs-color-primary);
}

.form-check-input {
    appearance: none;
    border-radius: 0.25em;
    float: left;
    margin-left: -1.5em;
    background-color: #1c212c;
    color: #1c212c;
    border-width: .125rem;
    border-color: #2a3140;
    margin-top: 4px;
    width: 1em;
    height: 1em;
    background-image: var(--bs-form-check-bg-image);
}

.form-check-input:checked {
    border-color: #f59cdc;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check-input:active {
    filter: brightness(90%);
}
.form-check-input:focus {
    border-color: #f59cdc;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.25);
}
.form-check-input:checked {
    background-color: #c8289a;
    border-color: #c8289a;
}
.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
    background-color: #c8289a;
    border-color: #c8289a;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
    cursor: default;
    opacity: 0.5;
}