:root {
    --bs-color-primary: #0172ad;
    --bs-color-secondary: #ae6d39;
    --bs-border-color: #0172ad;
    --bs-card-color: #1b212d;
    --bs-secondary-bg-rgb: 29, 35, 47;
}

.form-control {
    background-color: #1c212c;
    padding: 1rem;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: #2a3140;
}

.form-control:focus {
    background-color: #252c3a;
    border-color: #354360;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(111,66,193,.25);
}

.bg-body-tertiary {
    background-color: #1b212d !important;
}

.form-check-input {
    background-color: #1c212c;
    border-width: .125rem;
    border-color: #2a3140;
}

.form-check-input:checked {
    background-color: var(--bs-color-primary);
    border-color: var(--bs-color-primary);
}

/* navbar */
.navbar-link {
    text-transform: uppercase;
    font-size: 13px;
    transition: all .1s ease-in-out;
}

.navbar-link:hover {
    color: white; /* Change color on hover (OrangeRed, for example) */
    background-color: rgba(255, 255, 255, 0.1); /* Add a background color on hover */
}

.kv-mb-3 {
    margin-bottom: 0;
}