:root {
    --gap: 10px;
    --color: #d8d4c7;
    --pico-h1-color: #d8d4c7;
    --pico-card-background-color: #1d232f !important;
}


.flex {
    display: flex;
}

.gap {
    gap: var(--gap);
}

.rows {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.columns {
    display: flex;
    flex-direction: row;
}

.request-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}

.request-row > .name {
    flex: 1;
}

.request-row > .artist {
    flex: 0 0 30%;
}

.request-row > button {
    flex: 0 0 25%;
}

.request-row .property {
    font-size: 0.75rem; /* Smaller text */
    color: var(--pico-muted-color);
    text-transform: uppercase; /* Uppercase text */
    text-decoration: underline; /* Underlined text */
}

.request-row .value {
}

button.requested {

}

body {
    color: var(--pico-color);
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #1b212d;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.event-title {
    text-align: center;
    margin-top: 20px;
}

.logo-small {
    height: 30px;
}

.event-image {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* For a 16:9 aspect ratio, adjust as needed */
    position: relative;
    overflow: hidden;
}

.event-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This maintains the aspect ratio and crops as needed */
    transform: translate(-50%, -50%);
}

.venmo {
    text-align: center;
}

.label-text {
    color: var(--pico-muted-color);
}